Checks: >
  -*,

  clang-diagnostic-*,

  readability-identifier-naming,
  readability-braces-around-statements,
  readability-else-after-return,
  readability-static-definition-in-anonymous-namespace,
  readability-use-std-min-max,
  readability-string-compare,

  # TODO: fix and enable the excluded readability-redundant-* checks
  readability-redundant-*,
  -readability-redundant-casting,
  -readability-redundant-control-flow,
  -readability-redundant-inline-specifier,
  -readability-redundant-member-init,
  -readability-redundant-string-init,

  # TODO: fix and enable the following checks
  # readability-avoid-const-params-in-decls,
  # readability-container-size-empty,
  # readability-implicit-bool-conversion,
  # readability-isolate-declaration,
  # readability-uppercase-literal-suffix,
  # readability-redundant-access-specifiers,


  modernize-*,
  -modernize-deprecated-headers,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -modernize-loop-convert,
  -modernize-pass-by-value,
  -modernize-return-braced-init-list,
  -modernize-unary-static-assert,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-use-nodiscard,
  -modernize-use-ranges,
  -modernize-use-integer-sign-comparison,

  llvm-*,
  -llvm-header-guard,
  -llvm-include-order,
  -llvmlibc-restrict-system-libc-headers,

  google-*,
  -google-readability-casting,
  -google-readability-todo,

  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-macro-parentheses,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-narrowing-conversions,
  -bugprone-not-null-terminated-result,
  -bugprone-sizeof-expression,
  -bugprone-suspicious-stringview-data-usage,
  -bugprone-too-small-loop-variable,
  -bugprone-unchecked-optional-access,
  -bugprone-unsafe-functions,

  clang-analyzer-*,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-core.StackAddressEscape,
  -clang-analyzer-core.uninitialized.UndefReturn,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-optin.cplusplus.UninitializedObject,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-analyzer-optin.performance.Padding,
  -clang-analyzer-security.insecureAPI.bcmp,
  -clang-analyzer-security.PointerSub,

  portability-*,
  -portability-template-virtual-member-function

  performance-*,
  -performance-avoid-endl,
  -performance-enum-size,
  -performance-inefficient-vector-operation,
  -performance-move-const-arg,
  -performance-no-int-to-ptr,
  -performance-unnecessary-value-param,

  misc-*,
  -misc-const-correctness,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -misc-include-cleaner,

WarningsAsErrors: "*"
HeaderFilterRegex: '.*'

CheckOptions:

  # function
  - key:   readability-identifier-naming.FunctionCase
    value: CamelCase
  - key:   readability-identifier-naming.IgnoreMainLikeFunctions
    value: 1

  # parameter
  - key:   readability-identifier-naming.ParameterCase
    value: lower_case

  # class
  - key:   readability-identifier-naming.ClassCase
    value: CamelCase

  # public method
  - key:   readability-identifier-naming.PublicMethodCase
    value: CamelCase

  # protected method
  - key:   readability-identifier-naming.ProtectedMethodCase
    value: CamelCase

  # private method
  - key:   readability-identifier-naming.PrivateMethodCase
    value: CamelCase

  # public member
  - key:   readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key:   readability-identifier-naming.PublicMemberSuffix
    value: _

  # protected member
  - key:   readability-identifier-naming.ProtectedMemberCase
    value: lower_case
  - key:   readability-identifier-naming.ProtectedMemberSuffix
    value: _

  # private member
  - key:   readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key:   readability-identifier-naming.PrivateMemberSuffix
    value: _

  # class member
  - key:   readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key:   readability-identifier-naming.ClassMemberPrefix
    value: s_

  # enum
  - key:   readability-identifier-naming.EnumCase
    value: CamelCase
  - key:   readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key:   readability-identifier-naming.EnumConstantPrefix
    value: k

  # union
  - key:   readability-identifier-naming.UnionCase
    value: CamelCase

  # variable
  - key:   readability-identifier-naming.VariableCase
    value: lower_case

  # static variable
  - key:   readability-identifier-naming.StaticVariableCase
    value: lower_case

  # static const
  - key:   readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key:   readability-identifier-naming.StaticConstantPrefix
    value: k

  # constexpr
  - key:   readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key:   readability-identifier-naming.ConstexprVariablePrefix
    value: k

  - key:   readability-redundant-member-init.IgnoreBaseInCopyConstructors
    value: 1

  - key:   modernize-use-default-member-init.UseAssignment
    value: 1
