---
BasedOnStyle: LLVM
# BreakBeforeBraces: Linux
# SpaceInEmptyParentheses: 'false'
ColumnLimit: 100
IndentWidth: 2
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true

PenaltyReturnTypeOnItsOwnLine: 1000

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
EmptyLineBeforeAccessModifier: Always

# constructor initializers
PackConstructorInitializers: CurrentLine

# arguments
AlignAfterOpenBracket: Align
QualifierAlignment: Custom
QualifierOrder: ['inline', 'static', 'const', 'volatile', 'type']

# include headers
IncludeCategories:
  - Regex:           '^".*.hpp'
    Priority:        2
  - Regex:           '^("|<)leanstore/*'
    Priority:        2
  - Regex:           '^("|<)(benchmark)/'
    Priority:        3
  - Regex:           '^("|<)(gtest|gmock|gflags|spdlog|glog|rapidjson|tabulate|rocksdb|gperftools|crc32c|prometheus)/'
    Priority:        4
  - Regex:           '^("|<)(httplib)'
    Priority:        4
  - Regex:           '<[[:alnum:]_/]+>'
    Priority:        5
  - Regex:           '<[[:alnum:]_/.]+>'
    Priority:        6
IncludeBlocks: Regroup
